.mnimi input[type="text"] {
    box-sizing: border-box;
    font-family: "Roboto";
    width: 100%;
    height: 45px;
    margin: 0 0 1em;
    padding: 6px;
    border: 1px solid #fff;
    background: #000;
    font-size: 16px;
    resize: none;
    outline: none;
    color: #fff;
  }
  .mnimi input[type="text"]:focus {
    border-color: #fff;
    border: 2px solid #fff;
  }
  .mnimi input[type="text"]:hover {
    border-color: #fff;
    border: 2px solid #fff;
  }
  .mnimi input[type="text"]:focus + label[placeholder]:before {
    color: #fff;
  }
  .mnimi input[type="text"]:focus + label[placeholder]:before,
  .mnimi input[type="text"]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -1.6em) scale(0.9, 0.9);
    font-weight: regular;
    font-size: 13px;
    line-height: 16px;
  }
  .mnimi input[type="text"]:valid {
    border-color: #fff;
  }
  .mnimi input[type="text"]:valid + label[placeholder]:before {
    color: #fff;
  }
  .mnimi input[type="text"]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  .mnimi input[type="text"] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
  }
  .mnimi input[type="text"] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(0.5em + 2px);
    padding: 0 8px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #000, #000);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .subscription-box {
    margin: 20px;
    width: 30%;
  }
  
  @media screen and (max-width: 1000px) {
    .subscription-box {
      margin: 20px;
      width: 100%;
    }
  }
  