.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.male {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 12px;
  color: #000000;
  text-align: right;
  background: #7db0ff;
}
.female {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 12px;
  color: #000000;
  text-align: right;
  background: #f00044;
}

p {
  text-align: center;
}

.Row {
  display: table;
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.Column {
  display: table-cell;
}
